.data-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 2rem;

}

.asset-form{
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    text-align: left;
    max-height: 350px;
    padding: 10px;
    overflow-y: scroll ;
    overflow-x: auto;
}
.owned{
    display: flex;
    flex-direction: column;
   
}
select:hover{
   cursor: pointer;
}
.select-class{
    height: 40px;
    width: 160px;
    background-color: rgb(232, 235, 239);
    border-radius: 4px;
}
.input-class{
    height: 40px;
    width: 150px;
    background-color: rgb(232, 235, 239);
    border-radius: 4px;
    margin-bottom: 2px;
}
.toggle-button{
    display: flex;
    justify-content: center;
}
.save , .cancel {
    border-radius: 4px;
background: var(--primary-color, #6200EE);
   border: 1px solid white;
   padding:11px 30px;
   color: white;
}
.save-cancel{
    display: flex;
    justify-content: space-around;
}
button:hover{
    cursor: pointer;
}